@import "../../shared/styles/variables";

.td-main {
  padding: 1% 10%;

  @media (max-width:1000px) {
    padding: 1% 4%;
  }

  @media (max-width: 450px) {
    padding: 5% 10%;
  }

  .gradients-title {
    width: 200px;
    padding-left: 10px;
    cursor: pointer;
  }

  .td-video {
    display: flex;
    gap: 30px;
    margin-top: 20px;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    .catlog {
      object-fit: cover;
      width: 100%;
      min-width: 230px;
      min-height: 200px;
      max-height: 315px;
      object-fit: contain;
      height: 100%;
      border-radius: 10px;

      @media (max-width: 700px) {
        max-height: 200px;
      }
    }

    .video-tu {
      width: auto;
      min-width: 70%;
      border-radius: 10px;
    }

    .catalog {
      width: 23%;
      border-radius: 10px;
      @media (max-width: 1000px) {
        left: 1rem;
      }

      @media (max-width: 700px) {
        width: 100%;
      }
    }
    & a {
      text-decoration: none;
    }
  }

  .td-Introduction {
    text-align: center;
    color: gray;
    padding-block: 20px;

    h1 {
      color: $primary-color;
      font-size: 22px;
    }
  }

  .td-divider {
    background-color: lightgray;
    height: 1px;
    margin-block: 30px;
    margin-left: 200px;

    @media (max-width: 650px) {
      margin-left: 0 !important;
    }
  }

  .td-intro-items {
    display: flex;
    gap: 25px;
    position: relative;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    div {
      width: 90%;
      height: 100%;

      @media (max-width:700px) {
        width: 100%;
      }
    }

    .td-intro-items-1 {
      color: $primary-color;
      align-content: center;
      width: 220px;

      @media (max-width:600px) {
        width: 100%;
        text-align: center;
      }

      p {
        font-size: x-large;
      }

      img {
        width: 60px;
        object-fit: contain;
      }
    }
  }

  .td-sp {
    font-size: 12px;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 10px;
    }
  }

  .td-p {
    font-size: 12px;
    align-content: baseline;

    p {
      font-size: larger;
    }

    img {
      width: 55px;
      object-fit: contain;
    }

    .td-p-title {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  .td-tp {
    font-size: 12px;
    align-content: baseline;
    gap: 4px;
    background-color: #99000025;
    border-radius: 10px;
    padding: 10px;

    .td-tp-number {
      background-color: white;
      border-radius: 50px;
      padding-top: 6px;
      text-align: center;
      width: 30px;
      height: 30px;
      font-weight: bold;
    }

    .td-tp-title {
      font-weight: bold;
    }
  }

  .react-multi-carousel-list {
    position: unset !important;
  }

  .react-multi-carousel-dot-list {
    bottom: -30px !important;
    margin-left: 200px;

    @media (max-width: 700px) {
      margin-left: 0px !important;
    }
  }
}

.td-imp-nots {
  margin-top: 50px;
  display: grid;
  padding: 30px;
  padding-top: 15px;
  background-color: rgb(252, 250, 189);
  border-radius: 10px;

  span {
    font-size: 13px;
    border-bottom: 1px solid lightgray;
    padding-block: 10px;
  }

  .td-imp-nots-title {
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    gap: 10px;

    span {
      border-bottom: none;
      margin-left: 10px;
      font-size: 22px;
      font-weight: 600;
    }
  }
}

.td-faq {
  background-color: rgb(237, 252, 255);
  // margin-inline: 5%;
  margin-bottom: 30px;
  padding-inline: 13%;
  padding-top: 20px;
  padding-bottom: 50px;
  display: grid;
  gap: 10px;

  .td-faq-title {
    font-size: 20px;
    text-align: center;
  }

  .td-faq-item {
    padding: 5px;
    background-color: white;
    font-size: 14px;

    .faq-que {
      padding: 5px;
      display: flex;
      justify-content: space-between;
    }

    .faq-ans {
      padding-inline: 5px;
      color: gray;
    }
  }
}

.react-multi-carousel-dot--active button {
  background: $primary-color;
}

.react-multi-carousel-dot button {
  border-color: $primary-color;
}