.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
}

.scroll-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.3s ease;
}
